<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Feast Replenisher App</title>
    <link rel="stylesheet" href="css/app.min.css">
    <script type="text/javascript" src="js/app.header.min.js"></script>
</head>
<body class="replenisher">
<header>
    <img src="http://images.contentful.com/3utb5j9vg6ev/6h0wi9RFJeOc6kUAy0m6i4/a532ea787d82b3f5a4955ef54e1fbd01/LOCALLY_DELICIOUS_Copy___logo_Copy_Copy.png?q=90&fl=progressive&w=500" alt="Feast Replenisher"/>
    <h2>Replenisher</h2>
</header>
{{{body}}}
<footer>
    <div id="feast-overlay">
        &nbsp;
    </div>
    <div id="feast-modal">
        <img src="http://images.contentful.com/3utb5j9vg6ev/2qHn75fHWk8mUciUgGUAAE/6ff6d0795e51882dff713408f6c0fccd/logo_copy.png?q=90&fl=progressive&w=500" alt="Feast Replenisher"/>
        <h2>Please Wait...</h2>
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <script type="text/javascript" src="js/app.footer.min.js"></script>
    <script type="text/javascript" src="js/app.main.min.js"></script>
</footer>
</body>
</html>
